<br>
<form method="post" action="/login">
  <h1 style="text-align: center;">Sign In</h1>
  <div class="form-floating" style="width: 50%; margin:auto;">
    <input type="text" class="form-control" id="floatingInput" placeholder="Email">
    <label for="floatingInput">Email</label>
  </div>
  <div class="form-floating" style="width: 50%; margin:auto;">
    <input type="text" class="form-control" id="floatingInput" placeholder="Password">
    <label for="floatingInput">Password</label>
  </div>
  <div class="d-grid" style="width: 50%; margin:auto;">
    <button class="btn btn-primary" type="submit">Sign In</button>
  </div>
  <br>
  <p class="lead" style="text-align: center;">Already have an account? <a href="/registration">Register</a>.</p>
</form>