<div class="container mt-5">
    <div class="row">
        <div class="col" style="text-align: center;"><p style="font-size: 280%;">On the Menu</p></div>
    </div>
    {{#each data}}
        <div class="row">
            <div class="col" style="text-align: center;"><p style="font-size:x-large;">{{category}}</p></div>
        </div>
        <br>
        <div class="row">
            {{#each items}}
                <div class="col-12 col-md-6">
                    {{>mealkit}}
                </div>
            {{/each}}
        </div>
        <br>
    {{/each}}
</div>