{{#each data}}
<div class="card h-100">
   <img src="images/{{imageUrl}}" width="400px" height="400px" class="card-img-top">
   <div class="card-body">
     <div class="container">
        <div class="row">
          <div class="col-8">
          <p class="card-text" style="font-size:larger;">{{title}}</p>
          <p class="card-text" style="font-size:medium;">Includes {{includes}}</p>
          </div>
          <div class="col-4" style="font-size:large;">
          ${{price}}
          </div>
        </div>
      </div>
    </div>
</div>
{{/each}}